@{
    ViewData["Title"] = "Sigfox hackaton";
}
<h2>App start-up parameters</h2>
<h3>Welcome message:  @ViewData["WelcomeMessage"]</h3>
<h3>Assets: @ViewData["Assets"]</h3>

<p>Use this area to provide additional information.</p>
